<h1>About Us</h1>
<p>We are working on our One Month Rails Pinteresting App.</p>
<div class="media">
  <a class="pull-left" href="http://www.behance.net/jwenger">
    <img class="media-object" src= http://lh5.googleusercontent.com/-GLoGzOe-nGg/AAAAAAAAAAI/AAAAAAAAAAA/v60k_twuH9E/s70-c-k/photo.jpg alt="...">
  </a>
  <div class="media-body">
    <h2 class="media-heading">This is me.</h2>
    ...
  </div>
</div>